<div class="sidebar">
    <img #toggle src="assets/sidebar-toggle.svg" alt="" width="30" class="cursor-pointer sidebar__passive mt-5 ml-5"
            [ngClass]="{'sidebar__passive': windowService.windowRef.innerWidth > 1024}"
            (click)="showSidebar(toggle, sidebar)">
    <div #sidebar class="sidebar__panel"
        [ngClass]="{'sidebar__passive': windowService.windowRef.innerWidth < 1024}"
        [formGroup]="checkboxGroupForm">
        <mat-accordion multi [togglePosition]="'after'">
            <div class="flex justify-between items-baseline pt-3 pl-6 pr-6">
                <h2><b>進階搜尋</b></h2>
                <ng-container *ngIf="windowService.windowRef.innerWidth < 1024">
                    <img src="assets/sidebar-toggle-inside.svg" width="30" alt="" class="cursor-pointer"
                    (click)="hideSidebar(toggle, sidebar)">
                </ng-container>
            </div>
            <div class="sidebar__panel__item sidebar__panel__price">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            價格區間
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex align-middle justify-start">
                        <input class="flex-auto" placeholder="$ Min" type="number">
                        <span class="flex-auto text-center ml-3 mr-3 mt-auto mb-auto">~</span>
                        <input class="flex-auto" placeholder="$ Max" type="number">
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__mileage">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            里程數
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="mileage">
                        <mat-checkbox formControlName="topOne">0~1w</mat-checkbox>
                        <mat-checkbox formControlName="topFive">1~5w</mat-checkbox>
                        <mat-checkbox formControlName="topTen">5~10w</mat-checkbox>
                        <mat-checkbox formControlName="topFifteen">10~15w</mat-checkbox>
                        <mat-checkbox formControlName="topTwenty">15~20w</mat-checkbox>
                        <mat-checkbox formControlName="topThirty">20~30w</mat-checkbox>
                        <mat-checkbox formControlName="thirtyOrMore">30w or more</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__year">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            車齡
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="year">
                        <mat-checkbox formControlName="topFour">0~4</mat-checkbox>
                        <mat-checkbox formControlName="topNine">5~9</mat-checkbox>
                        <mat-checkbox formControlName="tenOrMore">10 or more</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__displacement">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            排氣量
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="displacement">
                        <mat-checkbox formControlName="topOne">1.1L or less</mat-checkbox>
                        <mat-checkbox formControlName="topOneSix">1.1~1.6L</mat-checkbox>
                        <mat-checkbox formControlName="topOneEight">1.6~1.8L</mat-checkbox>
                        <mat-checkbox formControlName="topTwo">1.8~2.0L</mat-checkbox>
                        <mat-checkbox formControlName="topTwoFour">2.0~2.4L</mat-checkbox>
                        <mat-checkbox formControlName="topThreeFive">2.4~3.5L</mat-checkbox>
                        <mat-checkbox formControlName="threeFiveOrMore">3.5L or more</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__fuel-type">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            燃料
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="fuel">
                        <mat-checkbox formControlName="gasoline">汽油車</mat-checkbox>
                        <mat-checkbox formControlName="diesel">柴油車</mat-checkbox>
                        <mat-checkbox formControlName="hybrid">油電複合車</mat-checkbox>
                        <mat-checkbox formControlName="gas">瓦斯雙燃料</mat-checkbox>
                        <mat-checkbox formControlName="electric">純電車</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__color">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            車色
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="color">
                        <mat-checkbox formControlName="black">黑</mat-checkbox>
                        <mat-checkbox formControlName="white">白</mat-checkbox>
                        <mat-checkbox formControlName="sliver">銀</mat-checkbox>
                        <mat-checkbox formControlName="blue">藍</mat-checkbox>
                        <mat-checkbox formControlName="red">紅</mat-checkbox>
                        <mat-checkbox formControlName="yellow">黃</mat-checkbox>
                        <mat-checkbox formControlName="others">其他</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__door-num">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            車門數
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="door">
                        <mat-checkbox formControlName="two">2</mat-checkbox>
                        <mat-checkbox formControlName="three">3</mat-checkbox>
                        <mat-checkbox formControlName="four">4</mat-checkbox>
                        <mat-checkbox formControlName="five">5</mat-checkbox>
                        <mat-checkbox formControlName="six">6</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__passenger-num">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            乘客數
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="seats">
                        <mat-checkbox formControlName="two">2</mat-checkbox>
                        <mat-checkbox formControlName="three">3</mat-checkbox>
                        <mat-checkbox formControlName="four">4</mat-checkbox>
                        <mat-checkbox formControlName="five">5</mat-checkbox>
                        <mat-checkbox formControlName="six">6</mat-checkbox>
                        <mat-checkbox formControlName="seven">7</mat-checkbox>
                        <mat-checkbox formControlName="eightOrMore">8 or more</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__district">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            地區
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="district">
                        <mat-checkbox formControlName="north">北</mat-checkbox>
                        <mat-checkbox formControlName="center">中</mat-checkbox>
                        <mat-checkbox formControlName="south">南</mat-checkbox>
                        <mat-checkbox formControlName="east">東</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
            <div class="sidebar__panel__item sidebar__panel__transmission-system">
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            變速系統
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-col ml-1" [formGroup]="gearbox">
                        <mat-checkbox formControlName="manual">手排</mat-checkbox>
                        <mat-checkbox formControlName="automatic">自排</mat-checkbox>
                        <mat-checkbox formControlName="semiAutomatic">自手排</mat-checkbox>
                        <mat-checkbox formControlName="semiManual">手自排</mat-checkbox>
                        <mat-checkbox formControlName="CVT">CVT</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>