@import '../../app.component.scss';

.header {
    position: relative;
    width: 100%;

    &__image {
        max-width: 100%;

        @include rwd($small-1) {
            max-width: none;
            height: 400px;
        }
    }

    &__filter {
        @include absCenter;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        border-radius: 4px;
        padding: 32px 40px;
        max-width: 878px;
        max-height: 150px;
        background-color: $search-filter-bg;

        @include rwd($medium-2) {
            max-width: 696px;
            max-height: 135px;
        }

        @include rwd($small-1) {
            max-width: 200px;
            max-height: 240px;
            padding: 24px;
        }

        &__item {
            flex-wrap: wrap;
            flex: 1 1 0;
            z-index: 1;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: $box-shadow1;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        padding: 21px 0;
        background-color: $ci-main-green1;

        @include rwd($small-1) {
            height: 55px;
        }

        p {
            color: $white;
            @extend .panel-element--title;
        }
    }

    &__panel {
        @extend .mat-expansion-panel;
        .mat-expansion-panel {
            .mat-expansion-panel-body {
                padding: 0;
                height: auto;
                overflow: auto;
                background-color: $ci-second-gold3;
            }

            .mat-expansion-indicator {
                transition: transform .3s ease;
        
                &::after {
                    @extend .mat-chevron--black;
                    @extend .mat-chevron--header-default;
                    border-width: 0 3px 3px 0;
                }
            }

            .mat-expanded {
                .mat-expansion-indicator {
                    @extend .mat-chevron--black;
                    @extend .mat-chevron--header-expanded;
                }
            }
        }

        &__header {
            box-shadow: $box-shadow1;
        }

        &__title {
            gap: 24px;
            margin: 21px 0px;

            @include rwd($small-1) {
                gap: 12px;
                margin: 0;
            }

            p {
                color: $ci-main-black;
                @extend .panel-element--title;
            }
        }

        &__icon {
            height: 44px;

            @include rwd($medium-2) {
                height: 32px;
            }

            @include rwd($small-1) {
                height: 24px;
            }
        }

        &__search {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 7px 10px;

            @include rwd($medium-2) {
                // TODO: need to discuss with the designer
                // idea: tablet version can ignore the search bar
                display: none;
            }

            input {
                height: 29px;
                border: 1px solid $function-alphabet-mark;
                border-radius: 4px;
            }

            p {
                @extend .panel-element;
                @extend .panel-element--search;
            }
        }

        &__scroll {
            max-height: 270px;
            height: fit-content;
            overflow-y: scroll;
            overflow-x: scroll;
        }

        &__set {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background-color: $grayscale-00;

            &__item {
                background-color: $white;
                @extend .panel-element;
                @extend .panel-element--option;
            }

            &__item--active {
                background-color: $function-alphabet-mark;
                flex: 1 1 0;
            }

            &__item--default {
                background-color: $function-alphabet-scroll;
                flex: 1 1 0;
                text-indent: -999px;
            }
        }
    }
}
