<div class="header">
    <img class="header__image" src="assets/header.svg" alt="" />
    <div class="header__filter">
        <div class="header__filter__item header__panel">
            <mat-expansion-panel class="mat-elevation-z0" #brandAccordion (opened)="onAccordionOpened(brandAccordion)"
                (closed)="onAccordionClosed(brandAccordion)" [ngStyle]="{ display: brandDisplayStyle }">
                <mat-expansion-panel-header class="header__panel__header" [collapsedHeight]="responsiveHeight()"
                    [expandedHeight]="responsiveHeight()">
                    <mat-panel-title class="header__panel__title">
                        <img class="header__panel__icon" src="assets/brand_icon.svg" alt="brand_icon" />
                        <p>Brand</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="header__panel__description">
                    <div class="header__panel__search">
                        <p>Search</p>
                        <input type="text" />
                    </div>
                    <div class="header__panel__scroll">
                        <div *ngFor="let brand of brands">
                            <div class="header__panel__set">
                                <div class="header__panel__set__item flex-1 flex justify-center pl-1 pr-1" #brand
                                    [ngClass]="
                                        isFirstItem(brand) === 'true'
                                        ? 'header__panel__set__item--active'
                                        : 'header__panel__set__item--default'
                                    ">
                                    {{ brand[0].toUpperCase() }}
                                </div>
                                <mat-checkbox #brandCheckbox (change)="onBrandSelected(brandCheckbox, brand)"
                                    class="header__panel__set__item flex-[11] .mat-checkbox pl-2">
                                    {{ brand }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="header__filter__item header__panel">
            <mat-expansion-panel class="mat-elevation-z0" #typeAccordion (opened)="onAccordionOpened(typeAccordion)"
                (closed)="onAccordionClosed(typeAccordion)" [ngStyle]="{ display: typeDisplayStyle }">
                <mat-expansion-panel-header class="header__panel__header" [collapsedHeight]="responsiveHeight()"
                    [expandedHeight]="responsiveHeight()">
                    <mat-panel-title class="header__panel__title">
                        <img class="header__panel__icon" src="assets/cartype_icon.svg" alt="cartype_icon" />
                        <p>Type</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="header__panel__description">
                    <div class="header__panel__scroll">
                        <div *ngFor="let type of types">
                            <div class="header__panel__set">
                                <mat-checkbox #typeCheckbox (change)="onTypeSelected(typeCheckbox, type)"
                                    class="header__panel__set__item flex-1 flex justify-start .mat-checkbox pl-4">
                                    {{ type }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="header__filter__item header__panel" #searchBtn [ngStyle]="{ display: searchBtnDisplayStyle }">
            <button class="header__search">
                <img class="header__panel__icon" src="assets/search_icon.svg" alt="brand_icon" />
                <div>
                    <p>Search</p>
                </div>
            </button>
        </div>
    </div>
</div>