@import '../../app.component.scss';

.car {
    // TODO: write the card component style into SASS
    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;

        @include rwd($small-1) {
            flex-direction: column;
        }

        &__item {
            flex: 1 1 0;
        }
    }

    &__image {
        background-color: $white;
    }

    .favorite {
        &--default {
            color: white;
        }
        
        &--active {
            color: black;
        }
    }

    .mat-card {
        background-color: $ci-second-gold2;
    }

    .mat-card-title {
        display: flex;
    }

    &__chip {
        text-align: center;
        align-self: center;
        width: 61px;
        padding: 2px;
        border-radius: 12px;
        background-color: $black;
        color: $white;
        font-size: 12px;
    }
}