<div class="car">
    <mat-card class="mb-8" (click)="browse()">
        <div class="car__info">
            <div class="car__info__item car__image flex justify-center">
                <img src="assets/no-image.svg">
            </div>
            <div class="car__info__item pl-5">
                <mat-card-title class="flex align-middle justify-between">
                    <div class="pt-1 pb-auto">{{ car.brand }}</div>
                    <div>{{ car.price }}萬</div>
                </mat-card-title>
                <br>
                <div class="car__info mb-28">
                    <!-- TODO: current data structure -->
                    <!-- <div>{{car.model}}</div>
                    <div>{{car.city}}</div>
                    <div>{{car.color}}</div>
                    <div>{{car.drive}}</div>
                    <div>{{car.displacement}}</div>
                    <div>{{car.doors}}</div>
                    <div>{{car.fuel}}</div>
                    <div>{{car.gear}}</div>
                    <div>{{car.seats}}</div>
                    <div>{{car.mileage}}</div>
                    <div>{{car.price}}</div> -->
                </div>
                <div class="flex justify-between items-center">
                    <button
                        (click)="toggleFavorite()">
                        <i *ngIf="favorited" class="fa-solid fa-heart fill-black"></i>
                        <i *ngIf="!favorited" class="fa-regular fa-heart"></i>
                    </button>
                    <p>Last Edited</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>

