<div class="landing-page">
    <div class="landing-page__logo flex justify-start items-center ml-6 mt-2 gap-6">
        <img class="w-[75px]" src="assets/logo_icon.svg" alt="">
        <img class="w-[95px]" src="assets/PEAK.svg" alt="">
    </div>
    <div class="flex">
        <img src="assets/landing-page-car.svg" alt="">
        <img src="assets/landing-page-car2.svg" alt="">
        <img class="landing-page__ellipse flex-auto" src="assets/landing-page-invitation.svg" alt="">
        <div class="landing-page__invitation flex-auto">
            <div class="landing-page__invitation__text flex flex-col justify-center items-center pt-20">
                <div class="mb-10"><p class="text-4xl">Want a wonderful transaction experience?</p></div>
                <button
                    mat-button
                    class="landing-page__button text-3xl"
                    [routerLink]="['auth']">
                        Get started
                        <i class="fa-solid fa-arrow-right ml-3"></i>
                </button>
            </div>
        </div>
    </div>
</div>