/* shared CSS */
@import '../../../../libs/ui/src/lib/public-mixin.scss';

/* checkbox background color */
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #ffffff !important;
}
/* checkbox border color */
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #979797 !important;
}
/* checkbox check mark color */
::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
  stroke: #000000 !important;
}
