<!-- if route guard failed, the second layer of authentication -->
<div class="main-page" *ngIf="auth.user$ | async as user; else notFound">
    <app-navigation></app-navigation>
    <app-header></app-header>
    <div class="flex">
        <app-sidebar class="w-1/3"></app-sidebar>
        <div class="w-2/3 pr-16">
            <div class="flex justify-end">
                <select #selected class="main-page__ordering" name="" id="" (change)="sortBy(selected.value)">
                    <option>依瀏覽次數高到低排序</option>
                    <option>依價格低到高排序</option>
                    <option>依價格高到低排序</option>
                </select>
            </div>
            <app-cars></app-cars>
        </div>
    </div>
</div>

<!-- TODO: a flash of 404 page when loading the page; fix it -->
<ng-template #notFound>
    <div class="flex justify-center items-center h-screen">
        <div class="w-1/2">
            <img src="assets/not-found.svg" alt="">
        </div>
    </div>
</ng-template>

<!-- Testing code -->
<!-- <div class="main-page">
    <app-navigation></app-navigation>
    <app-header></app-header>
    <div class="flex">
        <app-sidebar class="w-1/3"></app-sidebar>
        <div class="w-2/3 pr-16">
            <div class="flex justify-end">
                <select #selected class="main-page__ordering" name="" id="" (change)="sortBy(selected.value)">
                    <option>依瀏覽次數高到低排序</option>
                    <option>依價格低到高排序</option>
                    <option>依價格高到低排序</option>
                </select>
            </div>
            <app-cars></app-cars>
        </div>
    </div>
</div> -->