@import '../../app.component.scss';

.main-page {
    &__ordering {
        padding: 3px;
        background-color: $ci-second-gold3;
        border: 2px solid $ci-main-green2;
        border-radius: 6px;
        margin-bottom: 10px;
    }
}