<div class="sidebar pl-16 pr-16">
    <mat-accordion multi>
        <h3 class="pl-6"><b>進階搜尋</b></h3>
        <div class="sidebar__price">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        價格區間
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex align-middle justify-start pr-10 w-2/3">
                    <input class="flex-auto" placeholder="$ Min" type="number">
                    <span class="flex-auto text-center ml-3 mr-3 mt-auto mb-auto">~</span>
                    <input class="flex-auto" placeholder="$ Max" type="number">
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__mileage">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        里程數
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>0~1w</mat-checkbox>
                    <mat-checkbox>1~5w</mat-checkbox>
                    <mat-checkbox>5~10w</mat-checkbox>
                    <mat-checkbox>10~15w</mat-checkbox>
                    <mat-checkbox>15~20w</mat-checkbox>
                    <mat-checkbox>20~30w</mat-checkbox>
                    <mat-checkbox>30w or more</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__year">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        車齡
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>0~4</mat-checkbox>
                    <mat-checkbox>5~9</mat-checkbox>
                    <mat-checkbox>10 or more</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__displacement">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        排氣量
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>1.1L or less</mat-checkbox>
                    <mat-checkbox>1.1~1.6L</mat-checkbox>
                    <mat-checkbox>1.1~1.6L</mat-checkbox>
                    <mat-checkbox>1.6~1.8L</mat-checkbox>
                    <mat-checkbox>1.8~2.0L</mat-checkbox>
                    <mat-checkbox>2.0~2.4L</mat-checkbox>
                    <mat-checkbox>2.4~3.5L</mat-checkbox>
                    <mat-checkbox>3.5L or more</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__certification">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        認證機構
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>SUM</mat-checkbox>
                    <mat-checkbox>YES</mat-checkbox>
                    <mat-checkbox>來茵</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__fuel-type">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        燃料
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>汽油車</mat-checkbox>
                    <mat-checkbox>柴油車</mat-checkbox>
                    <mat-checkbox>油電複合車</mat-checkbox>
                    <mat-checkbox>瓦斯雙燃料</mat-checkbox>
                    <mat-checkbox>純電車</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__color">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        車色
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>黑</mat-checkbox>
                    <mat-checkbox>白</mat-checkbox>
                    <mat-checkbox>銀</mat-checkbox>
                    <mat-checkbox>藍</mat-checkbox>
                    <mat-checkbox>紅</mat-checkbox>
                    <mat-checkbox>黃</mat-checkbox>
                    <mat-checkbox>其他</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__door-num">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        車門數
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>2</mat-checkbox>
                    <mat-checkbox>3</mat-checkbox>
                    <mat-checkbox>4</mat-checkbox>
                    <mat-checkbox>5</mat-checkbox>
                    <mat-checkbox>6</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__passenger-num">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        乘客數
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>2</mat-checkbox>
                    <mat-checkbox>3</mat-checkbox>
                    <mat-checkbox>4</mat-checkbox>
                    <mat-checkbox>5</mat-checkbox>
                    <mat-checkbox>6</mat-checkbox>
                    <mat-checkbox>7</mat-checkbox>
                    <mat-checkbox>8 or more</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__district">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        地區
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>北</mat-checkbox>
                    <mat-checkbox>中</mat-checkbox>
                    <mat-checkbox>南</mat-checkbox>
                    <mat-checkbox>東</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="sidebar__transmission-system">
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        變速系統
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col ml-1">
                    <mat-checkbox>手排</mat-checkbox>
                    <mat-checkbox>自排</mat-checkbox>
                    <mat-checkbox>自手排</mat-checkbox>
                    <mat-checkbox>手自排</mat-checkbox>
                    <mat-checkbox>CVT</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>