<mat-toolbar class="toolbar">
    <mat-toolbar-row class="flex">
        <div class="w-1/5 flex-1 flex">
            <div class="flex">
                <img src="assets/logo_icon.svg" class="flex-1 w-12 mr-5">
                <img src="assets/PEAK.svg" class="flex-1 w-12">
            </div>
        </div>
        <div class="w-4/5 flex-1 flex justify-end">
            <div class="flex">
                <img src="assets/magnifier.svg" class="flex-1 w-8">
                <img src="assets/account.svg" class="flex-1 w-8 ml-5">
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>