@import '../../app.component.scss';
.auth-page {
    z-index: 1;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &__login {
        background-color: $navbar-bg;
        border-radius: 16px;
        width: 656px;
        height: 609px;
        z-index: 1;
    }

    &__signup-form {
        z-index: 1;

        input {
            border: 1px solid $function-form-bg;
            border-radius: 4px;
        }

        &__login {
            background: $ci-main-green1;
        }
    }
}