<div class="auth-page">
    <div class="auth-page__logo flex justify-start items-center ml-6 mt-2 gap-6">
        <img class="w-[75px]" src="assets/logo_icon.svg" alt="">
        <img class="w-[95px]" src="assets/PEAK.svg" alt="">
    </div>
    <div class="flex justify-center items-center h-[930px]">
        <img class="auth-page__background" src="assets/auth-car.svg" alt="">
        <div class="auth-page__login pt-8 pl-14 pr-14">
            <div class="text-4xl text-[#FBB912] text-center">
                <p>Welcome to <span class="text-dominant">PEAK</span>, enjoy !</p>
            </div>
            <div class="auth-page__signup-form mt-7">
                <div class="flex flex-col">
                    <label class="text-2xl" for="email">Email</label>
                    <input class="h-14 bg-white text-xl pl-3 mt-2" id="email" name="email" type="email" placeholder="Email">
                </div>
                <div class="flex flex-col mt-4">
                    <label class="text-2xl" for="password">Password</label>
                    <input class="h-14 bg-white text-xl pl-3 mt-2" type="password" placeholder="Password">
                </div>
                <div class="flex justify-end mt-11">
                    <button class="auth-page__signup-form__signup text-dominant text-2xl">Sign up</button>
                    <button class="auth-page__signup-form__login text-white text-2xl ml-8 bg-dominant rounded-md pl-6 pr-6 pt-1 pb-1">Log in</button>
                </div>
            </div>
            <div class="mt-6 text-center flex justify-center items-center">
                <div class="flex-grow bg-[#979797] h-[1px]"></div>
                <div class="text-center text-2xl text-[#979797] ml-5 mr-5">or log in with</div>
                <div class="flex-grow bg-[#979797] h-[1px]"></div>
            </div>
            <div class="mt-6 text-center flex justify-center items-center gap-8">
                <img class="z-10 w-15" src="assets/facebook-icon.svg" alt="">
                <img class="z-10 w-15" src="assets/line-icon.svg" alt="">
                <img class="z-10 w-15 cursor-auto" (click)="auth.googleSignin()" src="assets/google-icon.svg" alt="">
            </div>
        </div>
    </div>
</div>